afl-as 
as 
afl-g++ 
afl-clang 
afl-clang++ 
*.o 
*~ 
a.out 
core 
core.[1-9][0-9]* 
*.stackdump 
test 
.test 
test-instr 
.test-instr0 
.test-instr1 
qemu_mode/qemu-2.3.0.tar.bz2 
afl-qemu-trace
qemu_mode/qemu-2.3.0
out_dir

